@charset "UTF-8";

:root{
    --cor-fundo: #141414;
    --cor-header: #06060686;
    --cor-logo: #E50914;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--cor-fundo);
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* CONFIGURAÇÃO DO CABEÇALHO */

header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-header);
    color: #FFFFFF;
}

header h1{
    color: var(--cor-logo);
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}

header nav a{
    color: white;
    margin-right: 20px;
    transition: ease-in-out .2s;
}


header nav a:hover{
    color: #cecbcb;
}

/* CONFIGURAÇÃO DA SEÇÃO DO BANER */

.movie-banner{
    margin-top: -100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100% ), url("../images/capas/star-wars-ep4.jpg");
    background-position: center top;
    background-size: cover;
}

.movie-title{
    margin-top: 10%;
    font-size: 30px;
}

.movie-info{
    margin-top: 20px;


}

.movie-banner p{
    width: 40%;
    margin-top: 10px;
}

.buttons{
    width: 100%;
    margin-top: 80px;
}

.buttons button{
    padding: 15px 40px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.637);
    border: none;
    color: #FFFFFF;
    font-weight: bolder;
    transition: ease-out 0.5s;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover{

    background-color: rgba(255,255, 255, 0.637);
    border: none;
    color: #000000;
}

.movie-carousel{
    margin-top: 20px;
}

.movie-box{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.categoria{
    width: 100%;
    text-align: center;
    padding: 30px;
}

footer{
    margin-top: 40px;
    text-align: center;
    height: 60px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responsividade*/

@media (max-width: 750px) {
    header{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie-banner{ 
        text-align: center;
    }

    .movie-banner p{
        width: 100%;
        margin-top: 10px;
        font-weight: 400;
    }


}